/****************************************************/
/*        écran ordinateur (plein écran)            */
/****************************************************/



/***************   TITRES ET POLICES  ***************/

ul{
    color: grey;
    font-size: 0.8em;
    list-style-type: none;
    font-family: "Droid Sans", Sans-serif;
}

h1{
    font-family: "Oswald", Sans-serif;
    color: grey;
    font-size: 1em;
}

h2{
    font-family: "Oswald", Sans-serif;
    color: #e87b24;
    font-size: 1.8em;
}

h3{
    font-family: "Oswald", Sans-serif;
    color: grey;
    font-size: 1em;
}

p{
    color: grey;
    font-family: "Droid Sans", Sans-serif;
    line-height: 1.5em;
}

.date{
    color: 	#C0C0C0;
    font-family: "Droid Serif", Arial;
    font-style: italic;
}

.italic{
    font-style: italic;
}

.strong{
    font-weight: bold;
}

.underline{
    text-decoration: underline;
}

/***************   HEADER  ***************/

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1%;
    background-image: url(./misc/grille.png);
}

.logo{
    width: 10%;
    margin-left: 7%;
    margin-bottom: 2%
}

.liste_header{
    display: flex;
    flex-direction: row;
    padding-left: 6%;
}

.liste{
    margin-left: -22%;
    line-height: 2em;
}

.module{
    margin: 1.5%;
    width: 150px;
}

.hotels h1{
    border-bottom: 6px solid #f76900;
    padding: 5px;
}

.restaurants h1{
    border-bottom: 6px solid #fcd149;
    padding: 5px;
}

.services h1{
    border-bottom: 6px solid #bad583;
    padding: 5px;
}

.activites h1{
    border-bottom: 6px solid #3a93c3;
    padding: 5px;
}

.plus h1{
    border-bottom: 6px solid #c179d1;
    padding: 5px;
}


/***************   CORPS  ***************/

.video{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    border-top: 1px solid #edf5f5;
    border-bottom: 1px solid #edf5f5;
}

.speach{
    color: rgb(88, 86, 86);
    font-size: 1.1em;
    text-align: center;
    background-image: url(./misc/grille.png);
    padding: 40px;
}

.articles{
    display: flex;
    justify-content: center;
     border-top: 1px solid #edf5f5;
    border-bottom: 1px solid #edf5f5;
}

.golf{
    border: 1px solid gray;
    width: 250px;
    height: 500px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: 20px;
}

.ensemble_un{
    display: flex;
    flex-direction: column;
    width: 250px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: 20px;
}

.ensemble_deux{
    display: flex;
    flex-direction: column;
    width: 500px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: 20px;
}


.fastfoods{}

.commentaires{}

.images img{
    padding: 10px;
    border: 1px solid rgb(230, 229, 229);
    box-shadow: 2px 2px 2px #C0C0C0;
    margin: 7px;
}

.images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
}

.lire_plus{
    font-family: "Droid Serif", Arial;
    font-style: italic;
}

/***************   FOOTER  ***************/

#listes_footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(./misc/grille.png);
    padding: 12px;
}

#listes_footer h2{
    padding-left: 33px;
}

.contact{
    width: 300px;
    padding-left: 10px;
    font-size: 1.1em;
    line-height: 1.4;
}

.billet{
    width: 300px;
    padding-left: 10px;
    font-size: 1.1em;
    line-height: 1.4;
}

.commentaire{
    width: 300px;
    padding-left: 10px;
    font-size: 1.1em;
    line-height: 1.6;
}

.blablaland{
    width: 300px;
    padding-left: 10px;
    font-size: 1.1em;
    line-height: 1.4;
}

.blablaland p{
    font-size: 0.8em;
    font-family: "Droid Sans", Sans-serif;
    padding-left: 33px;
    
}

li.date{
    padding-bottom: 10px;
}

.contact img{
    position: relative;
    top: 12px
}

.adresse{
    padding-left: 31px;
}

.entree{
    padding-bottom: 10px;
}

.six{
    padding-top: 10px;
}

.copyright{
    position: relative;
    top: 23px;
    right: 287px;
}

#liens{
    display: flex;
    width: 1200px;
    margin: auto;
    justify-content: space-between;
}

.liens_perso{
    display: flex;
    flex-direction: row;
}

.liens_externes{
    align-self: center;
}

.liens_externes img{
    padding: 2px;
}



/****************************************************/
/*       Média Querys - Smartphone                  */
/****************************************************/



@media all and (max-width: 480px) 
{

}


/****************************************************/
/*       Média Querys - Tablettes                  */
/****************************************************/


@media (min-width: 481px) and (max-width: 780px)
{

}


@media (min-width: 781px) and (max-width: 979px)
{

}




